# C++
build --cxxopt='-std=c++20'
build --cxxopt='-Wall'
build --cxxopt='-Werror'
build --cxxopt='-pedantic'
build --cxxopt='-Wextra'
build --cxxopt='-Wcast-align'
build --cxxopt='-Wcast-qual'
build --cxxopt='-Wctor-dtor-privacy'
build --cxxopt='-Wdisabled-optimization'
build --cxxopt='-Wformat=2'
build --cxxopt='-Winit-self'
build --cxxopt='-Wlogical-op'
build --cxxopt='-Wmissing-declarations'
build --cxxopt='-Wnoexcept'
build --cxxopt='-Wold-style-cast'
build --cxxopt='-Woverloaded-virtual'
build --cxxopt='-Wredundant-decls'
build --cxxopt='-Wshadow'
build --cxxopt='-Wsign-conversion'
build --cxxopt='-Wsign-promo'
build --cxxopt='-Wstrict-null-sentinel'
build --cxxopt='-Wstrict-overflow=2'
build --cxxopt='-Wswitch-default'
build --cxxopt='-Werror'
build --cxxopt='-Wno-unused'
build --cxxopt='-Wswitch-enum'
build --cxxopt='-Wwrite-strings'
build --cxxopt='-Wunreachable-code'
build --cxxopt='-Wno-strict-aliasing'
build --cxxopt='-Wno-format-nonliteral'
build --cxxopt='-Wno-missing-field-initializers'

# C - these will not make sense, but keeping them here for future reference
# build --copt='-std=c11'
# build --copt='-pedantic'
# build --copt='-march=native'
# build --copt='-Wall'
# build --copt='-Wextra'
# build --copt='-Werror'
# build --copt='-Wcast-align'
# build --copt='-Wwrite-strings'
# build --copt='-Wformat=2'
# build --copt='-Wswitch-default'
# build --copt='-Wswitch-enum'
# build --copt='-Wcast-align'
# build --copt='-Wpointer-arith'
# build --copt='-Wbad-function-cast'
# build --copt='-Wstrict-overflow=5'
# build --copt='-Wstrict-prototypes'
# build --copt='-Winline'
# build --copt='-Wundef'
# build --copt='-Wnested-externs'
# build --copt='-Wcast-qual'
# build --copt='-Wshadow'
# build --copt='-Wlogical-op'
# build --copt='-Wfloat-equal'
# build --copt='-Wredundant-decls'
# build --copt='-Wold-style-definition'
# build --copt='-fno-omit-frame-pointer'
# build --copt='-ffloat-store'
# build --copt='-fno-common'
# build --copt='-fstrict-aliasing'

# common
build --copt='-g'
build --copt='-ggdb3'
build --copt='-O2'
build --copt='-pipe'

build --cxxopt='-g'
build --cxxopt='-ggdb3'
build --cxxopt='-O2'
build --cxxopt='-pipe'

build --cxxopt='-march=native'
build --cxxopt='-Wunused-result'

build --strip=never

