build --cxxopt='-std=c++2a'
build --cxxopt='-Wall'
build --cxxopt='-pedantic'
build --cxxopt='-Wextra'
build --cxxopt='-Wcast-align'
build --cxxopt='-Wcast-qual'
build --cxxopt='-Wctor-dtor-privacy'
build --cxxopt='-Wdisabled-optimization'
build --cxxopt='-Wformat=2'
build --cxxopt='-Winit-self'
build --cxxopt='-Wlogical-op'
build --cxxopt='-Wmissing-declarations'
build --cxxopt='-Wnoexcept'
build --cxxopt='-Wold-style-cast'
build --cxxopt='-Woverloaded-virtual'
build --cxxopt='-Wredundant-decls'
build --cxxopt='-Wshadow'
build --cxxopt='-Wsign-conversion'
build --cxxopt='-Wsign-promo'
build --cxxopt='-Wstrict-null-sentinel'
build --cxxopt='-Wstrict-overflow=5'
build --cxxopt='-Wswitch-default'
build --cxxopt='-Werror'
build --cxxopt='-Wno-unused'
build --cxxopt='-Wswitch-enum'
build --cxxopt='-Wwrite-strings'
build --cxxopt='-Wunreachable-code'
build --cxxopt='-Wno-strict-aliasing'
build --cxxopt='-Wno-format-nonliteral'
build --cxxopt='-Wno-missing-field-initializers'
build --cxxopt='-pipe'
build --cxxopt='-O3'
build --cxxopt='-Werror'
build --cxxopt='-march=native'
build --cxxopt='-Wunused-result'
build --strip=never